/*
        STYLE INDEX
    -------------------
    1.- Elements
    2.- Classes


    --- ELEMENTS ---
    ----------------
*/

html, body, form {
    height: 100%; /* The html, body & form elements cannot have any padding or margin. */
}

/*

    --- CLASSES ---
    ---------------
*/

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* Negative indent footer by it's height */
}

#push, #footer {
    height: 60px;
}

/* BUTTON HOLDER */
.btn-holder{
	background-color: whiteSmoke;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
	margin: 0 0 40px;
	padding: 8px 15px;
}

.btn-holder .pull-left:nth-child(1n+2) {
    margin-left: 10px;
}