<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AdventureWorksConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages clientIDMode="AutoID" enableViewState="true" autoEventWireup="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="GridViewEx" namespace="GridViewEx" tagPrefix="uc"/>
        <add assembly="GridViewEx" namespace="GridViewEx.Columns" tagPrefix="uc" />
      </controls>
    </pages>
  </system.web>
</configuration>